@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Rubik+One); /* Rubik one font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

*{
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(28, 29, 32);
  color: rgb(102, 102, 103);
  font-family: "Open sans", sans-serif;
}

header{
  padding: 30px 104.5px;
  margin: 0 auto;
  height: 85px;
}
header img{
  float:left;
}
header .menu{
  float: right;
}
header .menu .hamburger{
  float: right;
}
header .menu .menu-text{
  float: left;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
}
.hamburger{
  background: none;
  line-height: 23px;
  padding: 0px 15px 0px 15px;
  color: rgb(102, 102, 103);
  border: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.slider-wrapper{
  box-shadow: 0px 0px 50px rgba(0,0,0,.5);
  height: 600px;
  width: 1299px;
  margin: 0 auto;
}
.slider{
  height: 319px;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 30px;
}
.slide:before{
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Rubik One", sans-serif;
  font-size: 350px;
  color: rgb(63, 80, 165);
  z-index: -1;
  transform: translate(-50%, -50%);
}
.slide {
  color: white;
  text-align: center;
  margin: 0 auto;
}
.small-slide-title{
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.large-slide-title{
  font-size: 60px;
  font-family: "Rubik One", sans-serif;
  line-height: 60px;
}
.slide-content{
  font-size: 14px;
  margin-top: 10px;
}
.slide button{
  margin-top: 30px;
  font-size: 14px;
  width: 140px;
}

.who_sec-wrapper{
  height: 360px;
  width: 1140px;
  margin: 150px auto;
  background-color: none;
  position: relative;
}
.who-pic{
  height: 360px;
  width: 540px;
  float:left;
}
.who-pic img{
  height: 360px;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.who-text{
  height: 290px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(63, 80, 165);
  margin: 0 auto;
  padding: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.who-content{
  width: 445px;
  height: 327px;
  float: right;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 36px;
}
.who-content button{
  margin-top: 30px;
  font-size: 14px;
  width: 140px;
}

.why_sec-wrapper{
  width: 1299px;
  height: 494px;
  background-color: rgb(17, 18 ,19);
  margin: 0 auto;
}
.why-title{
  width: 650px;
  height: 234px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}
.why-plus{
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: rgb(63, 80, 165);
  position: absolute;
  left: 20%;
  top: -45px;
}
.why-title-text{
  font-family: "Montserrat", sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: white;
	display: inline-block;
	position: relative;
  transform: translateY(-50%);
}
.split-line{
  border: none;
  width: 70px;
  height: 1px;
  background-color: rgb(63, 80, 165);
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.why-title div hr{
  top: 60px;
}
.why-title-content{
  margin-top: 10px;
  color: white;
  font-size: 14px;
  line-height: 24px;
}
.why-flexbox{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  /*align-content: space-around;*/
  align-content: stretch;
  flex-wrap:wrap;
  width: 1140px;
  height: 140px;/*360*/
  margin: 0 auto;
}
.why-flexbox > div{
  width: 380px;
  height: 63px;
  text-align: center;
}
.why-box{
  position: relative;
}
.why-box img{
  width: 63px;
}
.why-box-title{
  line-height: 24px;
  font-size: 18px;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 14px;
}
.why-box-content{
  line-height: 24px;
  font-size: 14px;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

.contact-wrapper{
  width: 1140px;
  height: 315px;
  margin: 0 auto;
  margin-top: 150px;
}
.subscribe{
  width: 760px;
  height: 222px;
  float: left;
  margin: 0;
  position: relative;
  color: white;
  padding: 0 15px;
}
.contact{
  width: 350px;
  height: 315px;
  background-color: rgb(17, 18 ,19);
  float: right;
  margin: 0;
  padding: 20px;
  position: relative;
}
.subscribe-title{
  width: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
}
.split-line-div{
  position: relative;
  height: 20px;
}
.split-line2{
  border: none;
  width: 70px;
  height: 1px;
  background-color: rgb(63, 80, 165);
  margin-top: 20px;
}
.subscribe-content{
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.who-plus{
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: rgb(63, 80, 165);
  position: absolute;
  left: -25px;
  top: -5px;
}
.email{
  border-bottom: 2px solid rgb(102, 102, 103);
  padding: 5px 0px;
  width: 500px;
  height: 39px;
  margin-top: 15px;
  float: left;
}
.email-icon{
  float: left;
  height: 24px;
}
.email input{
  border: none;
  background-color: inherit;
  height: 24px;
  width: 450px;
  margin-left: 26px;
  color: white;
}
.subscribe button{
  font-size: 14px;
  width: 140px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.contact > div{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
}
.contact button{
  font-size: 14px;
  width: 140px;
  position: relative;
  margin-top: 20px;
}
